.favoriteIcon {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 1000;
    color: white
  }
  
  .favoriteIcon.active {
    fill: red; /* Màu đỏ khi đã yêu thích */
    transform: scale(1.2); /* Hiệu ứng khi được yêu thích */
  }
  
  .favoriteIcon:hover {
    transform: scale(1.1); /* Tăng nhẹ kích thước khi hover */
  }