/* Rating.module.css */

.rating_container {
  display: flex;
  justify-content: flex-end;
  /* Đẩy tất cả các phần tử về phía bên phải */
  
  /* Căn giữa các phần tử theo chiều dọc */


}

.imdb_rating,
.user_rating {
  display: flex;
  flex-direction: column;
  /* Sắp xếp các phần tử theo cột */
  align-items: center;
  /* Căn giữa các phần tử trong cột */
  margin-right: 20px;
  /* Khoảng cách giữa IMDb rating và đánh giá người dùng */
  right: 20%;
}

.imdb_rating h1,
.user_rating h1 {
  font-size: 16px;
  /* Kích thước chữ */
  
  /* Khoảng cách giữa tiêu đề và ngôi sao */
}

.star {
  margin-right: 5px;
  /* Khoảng cách giữa các ngôi sao */
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Khung form đánh giá */
.rating_form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: black;
}

.stars_container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.submit_button {
  background-color: #0f6db0;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  font-size: 1.2em;
  border-radius: 5px;
}

.submit_button:hover {
  background-color: #0e1794;
}
/* Nút để xóa đánh giá */
.remove_rating_button {
  background-color: transparent;
  border: none;
  color: red;
  cursor: pointer;
  margin-left: 10px;
  font-size: 1em;
  text-decoration: underline;
}

.remove_rating_button:hover {
  color: darkred;
}
.closeFr{
  display: flex;
  border: none;
  background-color: white;
  margin-top: -18px;
  margin-right: -15px;
  padding-left: 450px;
  font-size: 20px;
}