.shareContainer {
    position: relative;
    display: inline-block;
    padding-top: 20px;
  }
  
  .shareButton {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    transition: background 0.3s ease;
  }
  
  .shareButton:hover {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
  }
  
  .shareOptions {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #0e1e24;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;  
    z-index: 1000;
  }
  
  .shareOptions a {
    display: flex;
    align-items: center;
    margin: 5px 0;
  
  }
  .copyButton {
    background: none;    /* Xóa nền */
    border: none;        /* Xóa viền */
    padding: 0;          /* Xóa khoảng cách thừa */
    margin: 0;
    cursor: pointer;     /* Đảm bảo nó vẫn có con trỏ pointer */
    display: flex;
    align-items: center;
  }
  
  .shareOptions a:hover {
    opacity: 0.7;
  }
  .copiedMessage {
    color: white;
    font-size: 14px;
    margin-top: 5px;
    position: absolute;
    padding-left: 100px;
    transform: translateX(-50%);
  }
  
  