/* Form module */
.tilte{
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.former {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #060d10;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 9000;
}

/* Container */
.container {
  position: relative;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}
.former label {
  color: white;
}
/* Active class */
.active {
  transform: translateY(0);
}
.closeBtn {
  position: absolute;
  top: 10px;
  color: white;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  z-index: 1050; /* Đảm bảo nút hiển thị trên cùng */
}

.closeBtn:hover {
  color: white; 
}
/* Close button */
.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  
}

/* Form elements */
.former form {
  margin-top: 20px;
}

.former label {
  display:flex;
  margin-bottom: 5px;
  font-weight: bold;
}

.former input {
  display: flex;
  justify-self: center;
  align-items: center;  
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: black;
}

.former button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #21a691;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.former button[type="submit"]:hover {
  background-color: #27403e;
}

/* Error message */
.error {
  color: red;
  font-size: 0.8rem;
}

