.img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    /* Tự động mở rộng theo nội dung */
    gap: 20px;
    background: #060d10;
    padding-top: 0px;
    /* Thêm padding để tạo khoảng cách với thanh nav */
    /* Khoảng cách giữa phần tử này và thanh nav */
    position: relative;
    /* Đảm bảo phần tử này định vị tương đối */
    
}



.Indeximg p span {
    font-weight: 600;
}


.title h1{
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    color: white;
}
.category {
    justify-content: center;
    display: grid;
    grid-template-columns: 1.2fr 1.2fr 1.2fr 1.2fr;
    gap: 50px;
    width: 100%;
    /* Mở rộng hết khung chứa */
    max-width: 1200px;
    
}