.favorite {
  background-color: #060d10;
  min-height: 100vh; /* Đảm bảo chiếm toàn bộ chiều cao trang */
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Căn chỉnh đầu phần tử */
  padding: 20px;
}

.favoritesList {
  padding-top: 50px;
}

.favoritesList h1 {
  font-size: 32px;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

.favoritesList ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.item {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #3b4b70;
  font-size: 18px;
  transition: background-color 0.3s;
}

.item:hover {
  background-color: #354052; /* Hiệu ứng khi hover */
}

.item img {
  width: 120px; /* Kích thước hình ảnh */
  height: 180px; /* Đặt chiều cao để giữ tỉ lệ */
  object-fit: cover; /* Giữ tỉ lệ hình ảnh */
  margin-right: 15px;
  border-radius: 6px; /* Bo góc hình ảnh */
}

.item p {
  margin: 0;
  flex-grow: 1; /* Chiếm không gian còn lại */
}

.item button {
  background-color: #ff4757; /* Màu nút xóa */
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.item button:hover {
  background-color: #e84118; /* Hiệu ứng khi hover nút xóa */
}

.item p {
  text-align: center;
  color: #aaa;
  font-size: 18px;
  margin-top: 20px;
}
