nav {
  display: flex;
  margin: auto;
  height: 60px;
  background-color: hsla(211, 44%, 12%, 0.31); 
  /* box-shadow: 0 3px 20px #27403e; */
  display: flex;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  max-width: 600px;
  align-items: center;
  position: fixed;
  border: #0D1117;
  border-radius: 15px;
}

ul {
  color: white;
}
.avatar {
  width: 40px; /* Kích thước avatar */
  height: 40px; /* Kích thước avatar */
  border-radius: 50%; /* Avatar tròn */
}
.navLinks {
  display: flex;
  list-style: none;
  /* Your existing nav-links styles */
}

/*Styling logo*/

.logo img{
  margin-top: 45px;
  display: flex;
  width:200px;
  object-fit: cover;
}



/*Styling Links*/
.navLinks {
  display: flex;
  list-style: none;
  width: 88vw;
  padding: 0 0.1vw;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
}

.navLinks li a {
  text-decoration: none;
  margin: 0 0.1vw;
}

.navLinks li a:hover {
  color: #21a691;
}

.navLinks li {
  position: relative;
}

.navLinks li a:hover::before {
  width: 80%;
}

/*Styling Buttons*/


.navLinks {
  display: flex;
  list-style: none;
 
  
  /* Your existing nav-links styles */
}



/*Styling Hamburger Icon*/
.hamburger div {
  width: 30px;
  height: 3px;
  background: #f2f5f7;
  margin: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.hamburger {
  display: none;
}

.navLinks img {
  z-index: 9999;
}

/*Stying for small screens*/
@media screen and (max-width: 800px) {
  nav {
    position: fixed;
    z-index: 3;
  }

  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }

  .navLinks {
    position: fixed;
    background: #131418;
    height: 100vh;
    width: auto;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }

  .navLinks.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }

  .navLinks li {
    opacity: 0;
  }

  .navLinks li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }

  .navLinks li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }

  .navLinks li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }

  .navLinks li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }

  .navLinks li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }

  .navLinks li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }

  .navLinks li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }

  li.fade {
    opacity: 1;
  }
}



/*Animating Hamburger Icon on Click*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}


.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 50%;
  /* Điều chỉnh vị trí hiển thị ngang giữa */
  transform: translateX(-50%);
  /* Dịch chuyển để canh giữa */
  background-color: #0D1117;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 155px;
  z-index: 5000;
}

.dropdown ul {
  display: flex;
  flex-direction: column; 
  color: white;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.dropdown ul li {
  padding: 10px;
  cursor: pointer;
}

.dropdown ul li:hover {
  background-color: #1A1F24;
}
.loginWrapper {
  position: relative;
}
.dropdown ul li a {
  text-decoration: none;
  color: white;
}

.dropdown ul li a:hover {
 
    color: #21a691;
  
}
.loginWrapper :hover{
  color:#21a691
}