/* VideoPlayer.module.css */
.videoPlayerContainer {
  position: relative;
  padding-bottom: 56.25%; /* Tỉ lệ 16:9 cho video */
  height: 0;
  overflow: hidden;
  width: 100%;
  max-width: 860px;
    transition: all 0.3s ease-in-out; /* Hiệu ứng mượt mà khi thay đổi */
  }
  
  .videoPlayer {
    position: absolute;
  top: 70px;
  left: 0;
  width: 100%; /* Video chiếm toàn bộ khung */
  height: 76%;
  border: none;
  border-radius: 12px;
  }
  
  
  
  @media screen and (min-width: 1024px) {
    .videoPlayerContainer {
      max-width: 860px; /* Giới hạn chiều rộng tối đa cho video trên màn hình lớn */
    }
  }
  
  /* Điều chỉnh cho màn hình nhỏ hơn (di động) */
  @media screen and (max-width: 768px) {
    .videoPlayerContainer {
      padding-bottom: 56.25%; /* Giữ tỉ lệ 16:9 cho màn hình nhỏ */
      max-width: 100%; /* Chiếm toàn bộ chiều ngang trên di động */
    }
  }
  