.video-player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 900px;
    margin: 0 auto;
    text-align: center;
}

/* The switch - the box around the slider */
.switch {
    display: block;
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    /* size of sliding icon -- sun and moon */
    --size-of-icon: 1.4em;
    /* it is like a inline-padding of switch */
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f5;
    transition: background-color 0.4s;
    border-radius: 30px;
    transform: scale(1); /* Thêm dòng này để giữ kích thước không thay đổi */
}
  
.slider:before {
    position: fixed;
    content: "";
    height: var(--size-of-icon,1.4em);
    width: var(--size-of-icon,1.4em);
    border-radius: 20px;
    left: var(--slider-offset,0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
    transition: left 0.4s, box-shadow 0.4s; /* Thêm transition cho thuộc tính left và box-shadow */
}
  
input:checked + .slider {
    background-color: #303136;
}
  
input:checked + .slider:before {
    left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
    background: #303136;
    /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}

/* Thêm các kiểu cho chế độ focus */
.video.focused {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.video-player {
    width: 100%;
    height: auto;
    border: 1px solid none;
    border-radius: 10px;
    margin-bottom: 10px;
}

.controls {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.controls button {
    margin: 0 5px;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.controls button:hover {
    background-color: #0056b3;
}

.controls .focus-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0 5px;
    cursor: pointer;
}

.icon {
    transition: color 0.3s;
}

.sun-icon {
    color: #ffd700;
}

.sun-icon:hover {
    color: #ffa500;
}

.moon-icon {
    color: #4b0082;
}

.moon-icon:hover {
    color: #8a2be2;
}

p {
    color: #666;
}
