.searchBox {
	position: fixed; /* Để thanh tìm kiếm nằm cố định */
	top: 10px; /* Khoảng cách từ trên cùng */
	left: 10px; /* Khoảng cách từ bên phải */
	display: flex;
	align-items: center;
	z-index: 800; /* Để đảm bảo nó hiển thị trên các thành phần khác */
	color: white;
  }
  
  .searchIcon {
	cursor: pointer;
	font-size: 20px; /* Kích thước của biểu tượng */
	margin-right: 8px; /* Khoảng cách giữa biểu tượng và khung tìm kiếm */
  }
  
  .input {
	display: inline-block;
	padding: 8px;
	border: 1px solid #ccc; /* Đường viền của khung tìm kiếm */
	border-radius: 4px; /* Bo góc */
	transition: width 0.3s; /* Hiệu ứng chuyển tiếp */
	width: 200px; /* Kích thước khung tìm kiếm */
  }
  
  .input:focus {
	outline: none; /* Bỏ đường viền mặc định */
	border-color: #007bff; /* Màu đường viền khi focus */
  }
  