.display{
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    margin-right: 150px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    
}
.display-main-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    text-decoration: none;
    width: 220px;
    height: 320px;
}
.display-gird{
    display: grid;
    grid-template-columns: 1.2fr 2fr;
    padding: 20px;
}
.display-left{
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.tille{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}



.display-right{
    padding-left: 100px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    
}
.display-right h1{
    color: black;
    font-size: 25px;
    font-weight: 700;
}

.display-right-desc{
    display: flex;
    margin: 10px 0px;
    gap: 5px;
    font-size: 20px;
    font-weight: 500;
}
.display-right-actor{
    display: flex;
    margin: 10px 0px;
    gap: 5px;
    font-size: 20px;
    font-weight: 500;
}
.display-right-director{
    display: flex;
    margin: 10px 0px;
    gap: 5px;
    font-size: 20px;
    font-weight: 500;
}
.display-right-tap{
    display: flex;
    margin: 10px 0px;
    gap: 5px;
    font-size: 20px;
    font-weight: 500;
}
.display-right-nam{
    display: flex;
    margin: 10px 0px;
    gap: 5px;
    font-size: 20px;
    font-weight: 500;
}
.display-right-quocgia{
    display: flex;
    margin: 10px 0px;
    gap: 5px;
    font-size: 20px;
    font-weight: 500;
}
.display-right-theloai{
    display: flex;
    margin: 10px 0px;
    gap: 5px;
    font-size: 20px;
    font-weight: 500;
}