.title{
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #060d10;
  font-size: 30px;
  color: white;
}
.title h1{
  font-size: 40px;
  font-weight: 600;
}
.bann{
  background-color: #060d10;
  height: 680px;
}
.banner {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
  
}

.banner img {
  width: auto;
  height: auto;
  /* Thay đổi từ height thành max-height */
  object-fit: cover;
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in-out;

}

.banner img.active {
  opacity: 1;
}